streamlit
langchain
# crewai
# crewai-agents
faiss-cpu
python-dotenv
openai
transformers
# crewai_tools
load_dotenv
langchain-huggingface
langchain-groq
pymupdf
arxiv
wikipedia
# python-json>=0.2.1
pypdf2
langchain-community
sentence-transformers
tqdm
pandas
numpy
# calendar
datetime
# faiss-cpu==1.8.0
# sentence-transformers==2.5.1
# langchain-community==0.0.27
numpy==1.26.4
scipy==1.12.0   
typing-extensions==4.10.0
typing-inspect==0.9.0
plotly



